 *{
    
    padding: 0;
    box-sizing: border-box;
 }
 
 .top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #4c5958;
    padding-top: 10px;
    padding-bottom: 10px;
 }

 .top .left a{
    text-decoration: none;
    padding: 10px;
    color: white;
 }

.top .right{
   margin-right: 5px;
 }

 .top .right a{
    text-decoration: none;
    color: white;
    padding: 5px;
 }

 .top a:hover{
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 .navBar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: aliceblue;
 }

 .menu ul{
    display: inline-flex;
    padding-right: 30px;
    padding-top: 15px;
 }

 .menu ul li{
    padding: 20px;
    list-style: none;
 }

 .menu ul li a{
   text-decoration: none;
   color: black;
 }

.menu ul li a:hover{
   cursor: pointer;
   color: #8c503a;
}

 body{
    margin:10px;
    padding: 0; 
    /* bottom: rgb(180,196,201) solid 2rem; */
    /* border: 5px solid black; */
 }
 .intro{
    align-items: center;
    padding: 50px; 
    background-image: url(imagemaison.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

#info h1 {
    color: black;
    margin-left: 70px;
}

#info p {
margin-left: 20px;
margin-top: 120px;
color: teal;
}

#info{
    background-color: #003366;
    opacity: 0.9;
    width: 65vh;
    height: 40vh;
    margin-left: auto;
    margin-top: 16vh;
}

.container1{
    display: flex;
}
.photos{
    height: 10px;
}

#look{
    height: 61vh;
    width: 90%;
    box-sizing: border-box;
    margin-left: 80px;
    font-family: 'Trebuchet MS'Arial, Helvetica, sans-serif;
    /* margin-bottom: 20px; */
}
.into{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.photos img{
    height: 50vh;
}

#look .into{
    margin-top: 50px;
}

.container0{
    margin-left: 20vh;
}

.titre{
    margin-left: 90vh;
}
#information .intoo a{
    margin-top: 50vh;
}
#information .intoo{
    background-color: #A67458;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    
}

#information{
    background-color: #3e848c;
    height: 65vh;
   
}