/* header code */
*{
    padding: 0;
    box-sizing: border-box;
 }
 
 .top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #4c5958;
    padding-top: 10px;
    padding-bottom: 10px;
 }

 .top .left a{
    text-decoration: none;
    padding: 10px;
    color: white;
 }

.top .right{
   margin-right: 5px;
 }

 .top .right a{
    text-decoration: none;
    color: white;
    padding: 5px;
 }

 .top a:hover{
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 .navBar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: aliceblue;
 }

 .menu ul{
    display: inline-flex;
    padding-right: 30px;
    padding-top: 15px;
 }

 .menu ul li{
    padding: 20px;
    list-style: none;
 }

 .menu ul li a{
   text-decoration: none;
   color: black;
 }

.menu ul li a:hover{
    cursor: pointer;
    color: #8c503a;
}
/* fin  header */

body{
   border: 5px solid black;
}
.container{
    display: flex;
}
.about{
    margin-left: 15vh;
    width:50%;
}
.about .with{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10vh;
}
form{
    width:100%;
    margin-left: 5vh;
}
form input{
    display: inline-block;
    width:70%;
    padding-top: 20px;
}
.container .img{ 
   margin-left: 10vh;
} 
.map img{
width: 100%;
height: 100%;
margin-top: 10vh;
}
/* Footer */
.Gdiv{
   background-color: #4C5958;
   margin-bottom: 20px;
}
.footer{
   display: flex;
   justify-content: space-around;
   height: 40vh;
   padding: 80px;
}
.divCopy{
   padding: 15px;
}
.footer .divFooter h2{
   text-align: center;
   color: white;
   font-family: monospace;   
}
.footer .divFooter span a{
   text-decoration: none;
   color: #fff;
   padding-bottom: 10px;
   
}
.footer .divFooter span a:hover{
   color: rgb(32, 230, 114);
}
.divFooter span a i{
   background-color: #4C5958;
}
.footer .divFooter #avecBorder{
   border: 1px solid transparent;
   border-radius: 50px;
   padding: 10px;
   /* background-color: white; */
   /* opacity: 0.3; */
}
.footer .divFooter #avecBorder1{
   border: 1px solid transparent;
   border-radius: 50px;
   padding: 10px;
   background-color: rgb(131, 131, 238);
}
.footer .divFooter #avecBorder2{
   border: 1px solid transparent;
   border-radius: 50px;
   padding: 10px;
   background-color: rgb(74, 90, 233);
}
.footer .divFooter #avecBorder3{
   border: 1px solid transparent;
   border-radius: 50px;
   padding: 10px;
   background-color: red;
}
.footer .divFooter a i{
   color: aliceblue;
}
.divCopy{
   color: white;
   opacity: 0.5;
}
   
