*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
@media screen and (max-width=1150px){
.navBar{
    position: fixed;
    top:0;
    right: 0;
    background-color: aliceblue;
    width: 80%;
    height: 100%;
    padding: 7.5rem 3.5rem 0;
    border-left: 2px solid black;
    transition: right .4s;
}
.menu{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}
/* .top{
    display: flex ;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.top .left{
    display:list-item;
    justify-content: space-between;
}
.top .right{

} */
}
.top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #4C5958;
    padding-top: 10px;
    padding-bottom: 10px;
}
.top .left a{
    text-decoration: none;
    padding: 10px;
    color: white;
}
.top .right {
    margin-right: 5px;
}
.top .right a{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.top a:hover{
    cursor: pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navBar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin: 10px; */
    background-color: aliceblue;
}
.menu ul{
    display:inline-flex;
    padding-right: 30px;
    padding-top: 15px;
}
.menu ul li{
    padding: 20px;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: black;
}
.menu ul li a:hover{
    cursor: pointer;
    color: #8C503A;
    line-height: 10px;
}
/* Accueil */
.presentation{
    background-image: url(Image/service6.jfif);
    height: 70vh;
    padding-top: 30px;
    padding-left: 30px;
    background-size: cover;
}
.presentation .padding{
    color: white;
    background-color:rgb(21, 85, 85);
    height: 40vh;
    width: 70vh;
    padding-left: 20px;
    padding-top: 50px;
    opacity: 0.8;
    margin-top: 50px;
}
.presentation .padding .span{
    opacity: 1;
}
.presentation .padding h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}
.details .trois {
    border: 1px solid rgb(233, 230, 230);
    background-color: white;
    width: 27%;
    margin-top: 10px;
    padding-bottom: 10px;
}
.details .trois .image img{
    height: 200px;
    width: 100%;
}
.details .trois3{
    background-image: url(Image/expo.jpg);
    width:100%;
    height: 200px;
    padding-top: 80px;
} 
.special{
    margin-top: 13px;
}
.details .trois3 span p{
    background-color: rgb(50, 129, 129);
    border: 1px solid rgb(194, 192, 192);
    border-radius: 20px;
    height: 30px;
    width: 120px;
    color: #fff;
    padding-top: 5px;
    text-transform: uppercase;
}
.details .trois3 .span {
    padding-top: 10px;
    text-align: center;
    color: rgb(48, 172, 95);
}
.details .trois3 span a{
    text-decoration: none;
    color: white;
}
.details .trois .span{
    text-align: center;
}
.details .trois .span a{
    text-decoration: none;
    color: rgb(48, 172, 95);
    padding-top: 10px;
    padding-bottom: 10px;  
}
.trois .icone{
      margin-left: 170px; 
      margin-top: -25px;
      
}
.trois .icone #i{
    background-color: rgb(50, 129, 129);
    padding: 10px;
    color: white;
    border-radius: 5px;
}
.articles{
    margin: 30px;
}
.articles h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #13678A;
}
.articles ul li{
    list-style: none;
    padding: 7px;
    /* padding-right: 5px; */
}
.articles ul li i{
    color: #8C503A;
}
.articles ul li a{
    text-decoration: none;
    color: grey;
}
/* Footer */
.Gdiv{
    background-color: #4C5958;
    margin-bottom: 20px;
}
.footer{
    display: flex;
    justify-content: space-around;
    height: 40vh;
    padding: 80px;
}
.divCopy{
    padding: 15px;
}
.footer .divFooter h2{
    text-align: center;
    color: white;
    font-family: monospace;   
}
.footer .divFooter span a{
    text-decoration: none;
    color: #fff;
    padding-bottom: 10px;
    
}
.footer .divFooter span a:hover{
    color: rgb(32, 230, 114);
}
.divFooter span a i{
    background-color: #4C5958;
}
.footer .divFooter #avecBorder{
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 10px;
}
.footer .divFooter #avecBorder1{
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 10px;
    background-color: rgb(131, 131, 238);
}
.footer .divFooter #avecBorder2{
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 10px;
    background-color: rgb(74, 90, 233);
}
.footer .divFooter #avecBorder3{
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 10px;
    background-color: red;
}
.footer .divFooter a i{
    color: aliceblue;
}
.divCopy{
    color: white;
    opacity: 0.5;
}
